[Desktop Entry]
Name[ar]=قاطع الفيديو
Name[be]=Відэатрымер
Name[bg]=Видео ножици
Name[ca]=Retallador de vídeos
Name[cs]=Střihač videa
Name[da]=Videotrimmer
Name[de]=Video Trimmer
Name[el]=Περικοπή Βίντεο
Name[en_GB]=Video Trimmer
Name[eo]=Video Trimmer
Name[es]=Recortador de vídeo
Name[eu]=Bideo Trimmer
Name[fa]=ویدیو تراش
Name[fi]=Videotrimmaaja
Name[fr]=Découpeur de vidéos
Name[fur]=Taiarine Videos
Name[gl]=Recortador de vídeo
Name[he]=חותך סרטונים
Name[hi]=Video Trimmer
Name[hr]=Kraćenje videa
Name[hu]=Videóvágó
Name[ia]=Tonditura de video
Name[id]=Pemangkas Video
Name[is]=Klippiforrit fyrir myndskeið
Name[it]=Video Trimmer
Name[ja]=Video Trimmer
Name[ka]=ვიდეომჭრელი
Name[kk]=Видео қию қолданбасы
Name[kw]=Godregher Gwydhyow
Name[nb]=Video Trimmer
Name[nl]=Videotrimmer
Name[oc]=Copador de vidèo
Name[pl]=Video Trimmer
Name[pt]=Aparador de Vídeo
Name[pt_BR]=Video Trimmer
Name[ro]=Taie Video
Name[ru]=Видеотриммер
Name[sl]=Video obrezovalnik
Name[sr]=Видео скраћивач
Name[sv]=Video Trimmer
Name[ta]=வீடியோ டிரிம்மர்
Name[tr]=Video Kırpıcı
Name[uk]=Video Trimmer
Name[uz]=Videoni qirqish vositasi
Name[zh_CN]=视频剪裁器
Name[zh_TW]=影片修剪
Name=Video Trimmer
Comment[ar]=أقطع القيديوهات بسرعة
Comment[be]=Хуткае абразанне відэа
Comment[bg]=Бързо изрязване на видео клипове
Comment[ca]=Retalleu vídeos ràpidament
Comment[cs]=Bleskurychlý střih videa
Comment[da]=Trim videoer hurtigt
Comment[de]=Videos schnell trimmen
Comment[el]=Περικοπή βίντεο γρήγορα
Comment[en_GB]=Trim videos quickly
Comment[eo]=Tranĉi videojn rapide
Comment[es]=Recortar vídeos rápidamente
Comment[eu]=Kimatu bideoak azkar
Comment[fa]=تراشیدن سریع ویدیوها
Comment[fi]=Trimmaa videot nopeasti
Comment[fr]=Découper des vidéos rapidement
Comment[fur]=Taie videos in mût svelt
Comment[gl]=Recorte vídeos rapidamente
Comment[he]=חיתוך סרטונים במהירות
Comment[hi]=वीडियो को शीघ्रता से छाँटे
Comment[hr]=Skrati videa brzo
Comment[hu]=Videók gyors vágása
Comment[ia]=Tonde videos rapidemente
Comment[id]=Pangkas video secara cepat
Comment[is]=Snyrta myndskeið hratt og örugglega
Comment[it]=Taglia i video velocemente
Comment[ja]=ビデオを素早くトリミングします
Comment[ka]=ვიდეოს სწრაფი წაკვეთა
Comment[kk]=Видеоларды жылдам қию
Comment[kw]=Godreghi gwydhyowyow snell
Comment[nb]=Klipp videoer raskt og enkelt
Comment[nl]=Trim snel uw video’s
Comment[oc]=Copar de vidèos rapidament
Comment[pl]=Szybkie przycinanie plików wideo
Comment[pt]=Aparar vídeo rapidamente
Comment[pt_BR]=Corte vídeos rapidamente
Comment[ro]=Taie rapid filme
Comment[ru]=Быстрая обрезка видео-файлов
Comment[sl]=Hitro obrežite videoposnetke
Comment[sr]=Брзо скратите видео снимке
Comment[sv]=Klipp snabbt i videor
Comment[ta]=வீடியோக்களை விரைவாக ட்ரிம் செய்யுங்கள்
Comment[tr]=Videoları hızlıca kırp
Comment[uk]=Обрізати відеозаписи швидко
Comment[uz]=Videolarni tezda qirqish
Comment[zh_CN]=快速剪裁视频
Comment[zh_TW]=快速修剪影片
Comment=Trim videos quickly
# Translators: search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=قص;فيلم;فيلم;كليب;
Keywords[be]=Cut;Movie;Film;Clip;Скараціць;Мантаж;Абрэзаць;Фільм;Кліп;Выразаць;
Keywords[bg]=нарязване;изрязване;видео;филм;клип;cut;movie;film;clip;
Keywords[ca]=retalla;pel·lícula;film;clip;pedaç;
Keywords[cs]=Střih;Film;Snímek;Klip;
Keywords[da]=Klip;Film;
Keywords[de]=Cut;Movie;Film;Clip;Schneiden;Trimmen;
Keywords[el]=Αποκοπή;Ταινία;Φιλμ;Κλιπ;
Keywords[en_GB]=Cut;Movie;Film;Clip;
Keywords[eo]=Cut;Movie;Film;Clip;
Keywords[es]=Cut;Movie;Film;Clip;Cortar;Película;
Keywords[eu]=Kimatu;Filma;Pelikula;Moztu;
Keywords[fa]=Cut;Movie;Film;Clip;برش;فیلم;کلیپ;
Keywords[fi]=Cut;Movie;Film;Clip;leike;leikkaus;elokuva;
Keywords[fr]=Couper;Film;Extraire;Séquence;Clip;
Keywords[fur]=Taie;Film;Filmât;Videoclip;
Keywords[gl]=Curtar;Filme;Curta;Recorte;
Keywords[he]=חיתוך;גזירה;סרט;סרטון;קליפ;קטע;וידאו;
Keywords[hi]=Cut;Movie;Film;Clip;कट;मूवी;फ़िल्म;क्लिप;
Keywords[hr]=Izreži;Skrati;Film;Isječak;
Keywords[hu]=Vágás;Film;Mozgókép;Videó;Képkocka;Klip;
Keywords[ia]=Taliar;Movie;Cinema;Clip;
Keywords[id]=Potong;Film;Klip;
Keywords[is]=Klippa;Kvikmynd;Ræma;Myndskeið;
Keywords[it]=Taglia;Film;Video;Clip;
Keywords[ja]=Cut;Movie;Film;Clip;カット;切り取り;ムービー;動画;フィルム;映像;クリップ;
Keywords[ka]=Cut;Movie;Film;Clip;წაკვეთა;ფილმი;კლიპი;
Keywords[kk]=Қию;Кино;Фильм;Клип;
Keywords[kw]=Treghi;Fylm;Klypp;
Keywords[nb]=Klipping;Trimming;Skjæring;Film;Klipp;Kutte;
Keywords[nl]=Cut;Movie;Film;Clip;Knippen;Video;
Keywords[oc]=Copar;Films;Clip;Vidèo;
Keywords[pl]=Przytnij;Przycięcie;Cięcie;Tnij;Potnij;Wytnij;Film;Wideo;Video;Movie;Clip;Klip;
Keywords[pt]=Cortar;Cinema;Filme;Clip;
Keywords[pt_BR]=Cortar;Vídeo;Filme;Clipe;
Keywords[ro]=Cut;Movie;Film;Clip;Taie;Video;
Keywords[ru]=Cut;Movie;Film;Clip;Укоротить;Фильм;Клип;Обрезать;
Keywords[sl]=Rez;Film;Posnetek;Video;Obreži;Montaža;
Keywords[sr]=исеци;филм;снимак;видео;Cut;Movie;Film;Clip;
Keywords[sv]=Klipp ur;Film;Filmklipp;Klipp;
Keywords[ta]=கட்;திரைப்படம்;படம்;கிளிப்;
Keywords[tr]=Cut;Movie;Film;Clip;Kes;Film;Video;Klip;Video Trimmer;Video Kırpıcı;
Keywords[uk]=Вирізати;Фільм;Кліп;Нарізка;
Keywords[uz]=Qirqish;Kino;Film;Klip;
Keywords[zh_CN]=Cut;Movie;Film;Clip;剪裁;剪切;修剪;剪辑;电影;视频;片段;
Keywords[zh_TW]=Cut;Movie;Film;Clip;修剪;影片;
Keywords=Cut;Movie;Film;Clip;
Exec=@HOME@/.local/bin/video-trimmer %u
Icon=org.gnome.gitlab.YaLTeR.VideoTrimmer
Terminal=false
Type=Application
Categories=GNOME;GTK;Video;AudioVideo;
StartupNotify=true
MimeType=image/gif;video/3gp;video/3gpp;video/3gpp2;video/dv;video/divx;video/fli;video/flv;video/mp2t;video/mp4;video/mp4v-es;video/mpeg;video/mpeg-system;video/msvideo;video/ogg;video/quicktime;video/vivo;video/vnd.divx;video/vnd.mpegurl;video/vnd.rn-realvideo;video/vnd.vivo;video/webm;video/x-anim;video/x-avi;video/x-flc;video/x-fli;video/x-flic;video/x-flv;video/x-m4v;video/x-matroska;video/x-mjpeg;video/x-mpeg;video/x-mpeg2;video/x-ms-asf;video/x-ms-asf-plugin;video/x-ms-asx;video/x-msvideo;video/x-ms-wm;video/x-ms-wmv;video/x-ms-wvx;video/x-nsv;video/x-ogm+ogg;video/x-theora;video/x-theora+ogg;
